.wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	font-size: var(--base);
	margin-bottom: 8px;
}

.input {
	border-radius: 8px;
	border: 2px solid var(--light-gray);
	padding: 8px 12px;
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.08);
	font-size: var(--small);
}

.error {
	border: 2px solid orangered;
}

.input:focus {
	outline: 4px solid var(--scalapay-purple);
}
