.base {
	font-size: var(--base);
	font-weight: var(--xregular);
	color: white;
	border-radius: 16px;
	padding: 12px 24px;
	cursor: pointer;
	border: none;
}

.primary {
	background: var(--scalapay-black);
}

.secondary {
	background: var(--scalapay-purple);
}

.tertiary {
	color: var(--scalapay-black);
	padding: 0;
	width: 32px;
	aspect-ratio: 1;
	background: white;
	border-radius: 8px;
	border: 2px solid var(--light-gray);
}
